.body {
    background-color: #fcd4ec;
    color: #780648;
    font-size: 1.5rem;
    font-family: Nunito, sans-serif;
    width: 80%;
    margin: auto;
    justify-content: center;

}
h2 {
    text-align: center;
    font-size: 2.1rem;
}

.site-header {
    position: relative;
    display: flex;
    width: 100%;
    justify-content:flex-start
}
.banner {
    width: auto;
    height: auto;
}
.logo {
    height: auto;
    display: flex
    
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10rem;
    min-width: 100%;
    max-width: 200%;
    background-color: #f58cc9;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color:#780648;
    font-size: 2rem;
}
li {
   display: block;
    padding: 2rem;
}
.parent-home {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    padding: 0 10px;
    gap: 20px;
}
.home-image {
    height: auto;
    width: auto;
    flex: 1;
    width: 100%;
    margin: auto;
    align-items: center;
}
.home-text {
    flex: 1;
    width: 50%;
    margin: auto;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-size: contain;
    max-width: 100%;
}   
.icon {
    height: 40px;
    width: 40px;
    padding: 0.5rem;
}
.copyright {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 1rem;
}

form{
    border: none;
    display: block;
    margin: auto;
    padding: 1rem;
    min-width: 80%;
    max-width: 100%;
}
input, textarea, select {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0.5rem;
    font-size: 1.7rem;
    color:#780648;
    font-family: Nunito, sans-serif;
    background-color: #ffdef2;
    border-color: #ffcfec;
    text-align: center;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}
.subheading {
    font-size: 1.7rem;
    margin: auto;
    padding-bottom: 1rem;
    text-align: center;
}
.contact-method {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
input[type="checkbox"] {
    width: auto;
    margin: auto;
    height: auto;
    vertical-align: middle;
    align-items: center;
    flex-wrap: wrap;
}
.contact-option {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}
.radio-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-direction: column;
}
.radio-option {
    display: flex;
    align-items: center;
    gap: 1rem;
}
input[type="radio"] {
    width: auto;
    height: auto;
    margin: 0;
    vertical-align: middle;
    padding: 0.5rem;
}
option :not(radio) {
    padding: 1rem;
    font-size: 1rem;
    border: none;
}
    input[type="submit"] {
        display: block;
        padding: 0.75rem 1rem;
        margin: 2rem auto;
        border-radius: 20px;
        width: 40%;
        font-size: 1.5rem;
        border:#780648 1px solid;
        color:#780648;
        
    }
fieldset {
    border: none;
    display: block;
    padding: 1rem;
    margin: auto;
}

    table, th, td {
        border: 3px solid #780648;
        padding: 0.5rem;
        margin: auto;
    }
    hr {
        border: 1.5px solid #780648;
        opacity: 0.5;
        margin: 2rem auto;
    }
    .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 1rem;
    }
    .img-and-cap {
        text-align: center;
        flex-wrap: wrap;
        max-width: 500px;
       
    }